@media only screen and (max-width: 700px) {
	.heading {
		font-size: 24px;
	}
	.heading2 {
		font-size: 21px;
	}

	.tab {
		padding: 10px 40px;
	}

	.tab-button {
		font-size: 20px;
		vertical-align: middle;
		color: var(--c2);
	}
	.tabbutton-whole {
		padding: 7px 14px;
	}

	.tab-dropdown {
		width: 170px;
	}

	.imglarge, .imgsmall {
		width: calc(100vw - 40px);
	}

	.logo {
		width: 100px;
	}
	
	#page-title {
		font-size: 30px;
	}
}