#mobile-tab-displays {
	display: none;
	/* default for computer users. */
}

#mobile-tab-icon {
	width: 40px;
	height: 40px;
	padding: 10px;
	border-bottom-right-radius: 10px;
	background-color: #0000;

	display: flex;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 4;

	transition: 0.5s;
}
#mobile-tab-icon.opened {
	background-color: var(--bg3);
	left: 200px;
}

#mobile-tab-backdrop {
	background-color: var(--bg2);
	opacity: 0;
	visibility: hidden;

	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 3;

	transition: all 0.5s, width 0s;
	/*
		Without width 0s, the backdrop expands weirdly when the window is resized.
		A bit of a pointless fix but oh well. Can't have complaints.
	*/
}
#mobile-tab-backdrop.opened {
	opacity: 0.8;
	visibility: visible;
}

#mobile-tab-selection {
	width: 196px;
	background-color: var(--bg3);
	border: 2px solid var(--c2);

	position: fixed;
	top: 0;
	left: -200px;
	z-index: 4;

	transition: 0.5s;

	height: calc(100% - 4px);
}
#mobile-tab-selection.opened {
	left: 0;
}

.mobile-tab-button-container {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.mobile-tab-button-main, .mobile-tab-button-sub {
	display: flex;
	align-items: center;
	height: 50px;
	border-bottom: 2px solid;
	color: var(--c2);

	position: relative;
}
.mobile-tab-button-sub {
	background-color: var(--bg2);
	cursor: pointer;
}

@media only screen and (max-width: 700px) {
	.heading {
		font-size: 24px;
	}
	.heading2 {
		font-size: 21px;
	}

	.tab {
		padding: 10px 40px;
	}

	.imglarge, .imgsmall {
		width: calc(100vw - 40px);
	}

	.logo {
		width: 100px;
	}
	
	#top-banner {
		padding-bottom: 20px;
	}
	#page-title {
		font-size: 30px;
	}

	#mobile-tab-displays {
		display: block;
	}
	#tab-button-container {
		display: none;
	}
}