:root {
	--bg: #1f2a33;
	--bg2: #172025;
	--bg3: #344050;
	--c: #fff;
	--c2: #d0dde5;
	--c-trans: #fff6;
}

html {
	background-color: var(--bg);
	color: var(--c);
}
a {
	color: var(--c2);
}
body, html {
	margin: 0;
	padding: 0;
	font-size: 18px;
}
* {
	font-family: Unicod, sans-serif;
	user-select: none;
}

hr {
	height: 2px;
	background-color: var(--c);
	border: none;
}

.txtlarge {
	font-size: 20px;
}

.invert {
	background-color: var(--c-trans);
	color: var(--bg);
}
a.invert {
	background-color: #0000;
}

.header {
	background-color: var(--bg2);
	border-bottom: 3px solid var(--c);
	/*position: fixed;
	z-index: 2;*/
	width: 100%;
}
.heading {
	font-size: 35px;
	display: inline-block;
	margin: 0.5em 0;
}
.heading2 {
	font-size: 27px;
	display: inline-block;
	margin: 0.35em 0 0.15em 0;
}

.arrow {
	transition: transform 0.5s ease-in-out;
	vertical-align: middle;
	margin-left: 7px;
}

.tab {
	margin: 10px;
	padding: 10px 15%;
}
.tab-content {
	text-align: left;
	width: 100%;
}
.tab-content > img {
	margin: 0 auto;
	display: block;
}

.tab-button {
	font-size: 25px;
	vertical-align: middle;
	color: var(--c2);
}
.tabbutton-whole {
	padding: 12px 15px;
	display: inline-block;
	transition: background-color 0.5s ease-in-out;
	cursor: pointer;
}
.tabbutton-whole:hover {
	background-color: var(--c-trans);
}

.tab-choice {
	display: inline-block;
	position: relative;
}
.tab-dropdown {
	position: absolute;
	top: calc(100% + 3px);
	transition: all 0.5s ease-in-out, z-index 0s;
	width: 250px;
}
.tab-dropdown > div {
	width: calc(100% - 10px);
	border-bottom: 2px solid;
	background-color: var(--bg2);
	opacity: 0.8;
	font-size: 20px;
	cursor: pointer;
	text-align: center;
	padding: 5px;
}

.imglarge {
	width: 600px;
}
.imgsmall {
	width: 400px;
}
.logo {
	width: 140px;
	border-radius: 10px;
	border: 2px solid var(--c);
	box-shadow: inset 0 0 1px 1px var(--c), 0 0 5px 1px var(--c);
}

.list-leftmost {
	width: 200px;
	display: inline-block;
}

#page-title {
	margin: 0;
	font-size: 40px;
	height: 50px;
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: 200;
	animation: topAnim 10s infinite ease-in-out;
}
#tab-button-container {
	margin: 0;
	padding: 0 0;
	width: 100%;
	text-align: left;
}

#top-banner {
	width: calc(100% - 40px);
	padding: 20px;
	height: 50px;
	position: relative;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--bg3);
	border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--c2); 
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #fffa; 
}

@font-face {
    font-family: 'Unicod';
    src: url('../UNicod Sans.woff') format('woff');
}

@keyframes topAnim {
	0% {text-shadow: -2px -2px 7px var(--bg3);}
	25% {text-shadow: -2px 2px 7px var(--bg3);}
	50% {text-shadow: 2px 2px 7px var(--bg3);}
	75% {text-shadow: 2px -2px 7px var(--bg3);}
	100% {text-shadow: -2px -2px 7px var(--bg3);}
}